.searchForm-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  margin-left: 20px;
}
.point-input {
  font-family: 'Roboto';
  font-size: 20px;
  width: 300px;
  height: auto;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 0;
}
.points {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
}
.date {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  margin: 5px;
  

}
.date-input {
  width: 300px;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  height: 30px;
  padding: 5px;
  border: 0;
  border-radius: 10px;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.search-btn {
  font-family: 'Roboto';
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: azure;
  margin-left: 80px;
  border: 0;
  color: rgb(32, 31, 31);
  font-size: 17px;
  font-weight: bold;
}

::placeholder {
  font-size: 13px;
  margin: 5px;
}