.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  padding: 30px;
  background-color: rgb(209, 243, 243);
  border-bottom-width: 2px;
  height: 20px;
  margin-right: 30px;
}

.website-logo {
  width: 100px;
  height: 60px;
}

.middle-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.list-item {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px;
  color: rgb(20, 20, 20);
  text-decoration: none;
}

.item-underline {
  text-decoration: none;
}